{% extends 'base.html' %}

{% block title %}{{ article.title }}{% endblock title %}


{% block content %}

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img class="img" src="{{ article.image.url }}" alt="..." style="height: 150px; width: auto;">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <p class="card-text">{{ article.content | safe }}</p>
                <p class="card-text"><small class="text-muted">Last updated {{ article.modified_at | timesince }}</small></p>
                {% if request.user == article.owner %}
                    <a class="btn btn-primary" href="{% url 'edit-article' slug=article.slug %}">Edit</a>
                    <a class="btn btn-danger" href="{% url 'delete-article' slug=article.slug %}">Delete</a>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    
    
    {% for comment in comments  %}
        <div class="card mt-2 mb-2">
            <div class="card-body" style="display: flex; flex-direction: row;">
                <div class="col-sm-2">
                    {% if comment.owner.avatar %}
                        <img src="{{ comment.owner.avatar.url }}" class="rounded pt-4" width="75px" height="75px">
                    {% endif %}
                </div>
                <div class="col-sm">
                    <h5 class="card-title">{{ comment.owner.username }}</h5>
                    <p class="card-text">{{ comment.content }}</p>
                </div>
            </div>
        </div>
           
    {% endfor %}
        

{% endblock content %}
    