{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ article.title }}{% endblock title %}


{% block content %}

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img class="img" src="{{ article.image.url }}" alt="..." style="height: 150px; width: auto;">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <p class="card-text">{{ article.content | safe }}</p>
                <p class="card-text"><small class="text-muted">Last updated {{ article.modified_at | timesince }}</small></p>
                {% if request.user == article.owner %}
                    <a class="btn btn-primary" href="{% url 'article-edit' slug=article.slug %}">Edit</a>
                    <a class="btn btn-danger" href="{% url 'article-delete' slug=article.slug %}">Delete</a>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    
    <h5>Comments</h5>

    {% if messages %}

        <div class="alert alert-success" role="alert">
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>        
            </div>
        
    {% endif %}
    
    {% if request.user.is_authenticated %}
        <form method="POST">
            {% csrf_token %}
            {{ comment_form|crispy }}
            <input type="submit" value="Comment">
        </form>
     {% endif %}
        
    {% for comment in comments  %}
        <div class="card mt-2 mb-2">
            <div class="card-body" style="display: flex; flex-direction: row;">
                <div class="col-sm-2">
                    {% if comment.owner.avatar %}
                        <img src="{{ comment.owner.avatar.url }}" class="rounded pt-4" width="75px" height="75px">
                    {% endif %}
                </div>
                <div class="col-sm">
                    <h5 class="card-title">{{ comment.owner.username }}</h5>
                    <p class="card-text">{{ comment.content }}</p>
                    
                    {% if request.user == comment.owner  %}
                        <p><a class="btn btn-danger" href="{% url 'comment-delete' id=comment.id %}">Delete</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
           
    {% endfor %}
        

{% endblock content %}
    