<div class="card" mb-3>

  
  {% if request.user.is_authenticated %}
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ request.user.username }}</h5>
      <p class="card-text">{{ request.user.email }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <a href="{% url 'user-articles' %}">My Articles</a>
        </li>
      <li class="list-group-item">
        <a href="{% url 'create-article' %}">Create Article</a>
      </li>
      
      <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  {% else %}

  {% endif %}
    
   
  </div>