<div class="card" mb-3>

  
  {% if request.user.is_authenticated %}
  
  {% if request.user.avatar %}
  <img src="{{ request.user.avatar.url }}" class="card-img-top rounded-circle mt-1 p-3" alt="...">

  {% endif %}
    
    <div class="card-body">
      <h5 class="card-title">{{ request.user.username }}</h5>
      <p class="card-text">{{ request.user.email }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <a href="{% url 'user-articles' %}">My Articles</a>
        </li>
      <li class="list-group-item">
        <a href="{% url 'article-create' %}">Create Article</a>
      </li>
      
      <li class="list-group-item">
        <a href=" {% url 'edit-profile' %}">Edit Profile</a>   
      </li>
    </ul>
    <div class="card-body">
      <a href="{% url 'change-password' %}" class="card-link">Change Password</a>
      <a href="{% url 'log-out' %}" class="card-link">Log Out</a>
    </div>
  {% else %}

  {% endif %}
    
   
  </div>